
/*fundo*/
body {
    margin: 10px;
    background-color: black;

}

/*marcas*/
.border {
    border: solid 1px grey;
    border-radius: 15px;

  }
  
  /*margem*/
  .margin {
    display: flex;
    justify-content: center;
    
  }

  .espacamento {
    padding: 5px;

  }

  .marginpage {
    margin:10px;

  }
  
  /*fonte*/
  p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;

  }
  
  .nome {
    display: flex;
    justify-content: top;
  
  }